.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 800px;
    background-color: hsl(0, 0%, 98%);
    padding-bottom: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 0 100px;
    margin-right: 150px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 20px;
    opacity: .7;
}

.hero-right {
    position: relative;
    min-height: 100vh;
    background-image: url('../../assets/bg-intro-desktop.svg');
    background-position: -70px -300px;
    background-repeat: no-repeat;
}

.hero-right img {
    position: absolute;
    top: -30px;
    right: 0;  
}

@media screen and (max-width: 1220px) {
    .hero {
        grid-template-columns: none;
        grid-template-rows: 2;
        max-height: none;
    }

    .hero-right {
        order: 1;
    }

    .hero-left {
        order: 2;
    }
}